.todo-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
}

.todo {
	background-color: lightblue;
	display: flex;
	flex-direction: row;
	width: 100%;
	text-align: left;
	align-content: center;
	align-items: center;
	margin: 4px 0;
	padding-left: 8px;
}

.todo.completed {
	background-color: #d17d7c;
	text-decoration: line-through;
}

button {
	background-color: black;
	border: 1px solid #e64944;
	color: white;
	font-size: 16px;
	padding: 6px 14px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 50px;
}

.clear-btn {
	margin-top: 16px;
}
.heading {
	
}